<mapper namespace="com.jin.demo.orm.test.UserMapper">
    <select id="selectOne" paramterType="com.jin.demo.orm.test.User" resultType="com.jin.demo.orm.test.User">
        select * from user where id = #{id} and username = #{username}
    </select>
    <select id="selectList" resultType="com.jin.demo.orm.test.User">
        select * from user
    </select>
    <insert id="insert" paramterType="com.jin.demo.orm.test.User" resultType="int">
        insert into user(id,username) values(#{id},#{username})
    </insert>
    <update id="update" paramterType="com.jin.demo.orm.test.User" resultType="int">
        update user set username = #{username} where id = #{id}
    </update>
    <delete id="delete" paramterType="com.jin.demo.orm.test.User" resultType="int">
        delete from user where id = #{id}
    </delete>
</mapper>